.copy_right_footer{
    bottom: 0px;
    position: fixed;
    line-height: 3;
    font-size: 18px;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
}

body{
    background-color: black;
    color: white;
}